*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: white;
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.nav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  min-height: 5rem;
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
  color: white;
}
.nav__logo {
  position: absolute;
  margin-left: 3rem;
  margin-right: 0;
  min-width: 10rem;
  min-height: 5rem;
  background-image: url(../Assets/logo_white.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.nav__list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 1.8rem;
  margin-right: 2rem;
  font-size: 1rem;
  font-weight: 600;
  width: 80%;
  top: 1.5rem;
  right: 0;
  visibility: hidden;
}
.nav__list-element {
  text-decoration: none;
  color: black;
}
.nav__list-element:hover {
  color: #ddd;
}
.nav .burger {
  position: absolute;
  padding-right: 2rem;
  min-width: 3rem;
  top: 2.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  font-size: 2rem;
}

.header {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #333;
  font-weight: 600;
}

header::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 15px;
  background-color: #000;
}

.hero-img {
  position: relative;
  height: 100vh;
  background-image: url(../Assets/hero_img_small.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-img .fa-circle-arrow-down {
  position: absolute;
  bottom: 1rem;
  font-size: 3rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.438);
}

.hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-text {
  position: absolute;
  background-image: url(../Assets/logo_white_no_subtitles.svg);
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow(3px 5px 5px rgba(255, 255, 255, 0.35));
          filter: drop-shadow(3px 5px 5px rgba(255, 255, 255, 0.35));
  top: 50%;
  left: 50%;
  width: 20rem;
  height: 20rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1rem;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
}
.about article {
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  color: white;
  text-shadow: 2px 1px black;
}
.about__left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 20rem;
}
.about__left-img-first {
  position: absolute;
  width: 100%;
  min-height: 20rem;
  background-image: url(../Assets/almonds.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about__left-img-second {
  position: absolute;
  width: 100%;
  min-height: 20rem;
  background-image: url(../Assets/cocoa.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about__left-text {
  position: absolute;
  width: 100%;
  bottom: 25%;
  min-height: 50%;
}
.about__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 20rem;
}
.about__right-img {
  position: absolute;
  width: 100%;
  min-height: 20rem;
  background-image: url(../Assets/chocolate.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.about__right-text {
  position: absolute;
  width: 100%;
  min-height: 50%;
  bottom: 25%;
}

@media (min-width: 768px) {
  .nav {
    min-height: 4rem;
  }
  .nav__logo {
    min-height: 4rem;
  }
  .nav__list {
    visibility: visible;
  }
  .nav .burger {
    visibility: hidden;
  }

  .about {
    border-radius: 20px;
    overflow: hidden;
  }
  .about article {
    text-shadow: none;
  }
  .about__left {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 20rem;
  }
  .about__left-img-first {
    position: absolute;
    width: 50%;
    min-height: 100%;
    background-image: url(../Assets/almonds.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about__left-img-second {
    position: absolute;
    width: 50%;
    min-height: 100%;
    background-image: url(../Assets/cocoa.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about__left-text {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: 0;
    min-height: 100%;
    overflow: hidden;
  }
  .about__right {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    min-height: 20rem;
  }
  .about__right-img {
    position: absolute;
    width: 50%;
    min-height: 20rem;
    background-image: url(../Assets/vanilla.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .about__right-text {
    position: absolute;
    width: 50%;
    left: 0;
    bottom: 0;
    min-height: 100%;
  }
}/*# sourceMappingURL=main.css.map */