$secondary: #ffcf4f;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-size: 62.5%;
	font-family: 'Raleway', sans-serif;
}
a {
	cursor: pointer;
}
// NAV
.nav {
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 5rem;
	background-color: rgba(204, 204, 204, 0.479);
	z-index: 10;
	color: rgb(255, 255, 255);
	transition: 0.5s;
	visibility: hidden;
	&__logo {
		// position: absolute;
		margin-left: 3rem;
		margin-right: 0;
		min-width: 8rem;
		min-height: 5rem;
		background-image: url(../Assets/logo_white.svg);
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__list {
		position: absolute;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		gap: 1.8rem;
		margin-right: 2rem;
		font-size: 1rem;
		font-weight: 600;
		width: 80%;
		top: 1.5rem;
		right: 0;
		// visibility: hidden;
		&-element {
			text-decoration: none;
			color: black;
			visibility: hidden;

			&:hover {
				color: $secondary;
			}
		}
	}
	.burger {
		position: absolute;
		padding-right: 2rem;
		min-width: 3rem;
		top: 2.5rem;
		transform: translateY(-50%);
		right: 0;
		cursor: pointer;
		font-size: 2rem;
	}
}

.hide-nav {
	// background-color: rgba(0, 0, 0, 0.5);
	top: -150px;
}
// NAV END
//HEADER
.heading-block {
	display: flex;
	justify-content: center;
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	&__before {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 2rem;
		height: 0.2rem;
		background-color: $secondary;
		border-radius: 8px;
	}
	&__before-black {
		position: absolute;
		left: -0.5rem;
		top: 50%;
		transform: translateY(-50%);
		width: 2rem;
		height: 0.2rem;
		background-color: black;
		border-radius: 8px;
	}

	&__after {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 2rem;
		height: 0.2rem;
		background-color: $secondary;
		border-radius: 8px;
	}
	&__after-black {
		position: absolute;
		right: -0.5rem;
		top: 50%;
		transform: translateY(-50%);
		width: 2rem;
		height: 0.2rem;
		background-color: black;
		border-radius: 8px;
	}
}
.header {
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
	color: #333;
	font-weight: 600;
}

.secondary {
	color: $secondary;
}

//////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//HERO IMG
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

.hero-img {
	height: 100vh;
	background-image: url(../Assets/hero_img_small.png);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;

	.fa-circle-arrow-down {
		position: absolute;
		bottom: 5rem;
		font-size: 4rem;
		left: 50%;
		transform: translateX(-50%);
		cursor: pointer;
		color: $secondary;
	}
}
.hero-shadow {
	// position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.hero-text {
	position: absolute;
	display: flex;
	top: 10%;
	left: 50%;
	width: 20rem;
	height: 20rem;
	transform: translate(-50%, -10%);
	padding: 1rem;

	&__img {
		position: absolute;
		width: 20rem;
		height: 20rem;
		background-image: url(../Assets/logo_white_no_subtitles.svg);
		background-position: center;
		background-attachment: fixed;
		background-size: contain;
		background-repeat: no-repeat;
		filter: drop-shadow(3px 5px 5px rgba(255, 255, 255, 0.35));
	}
}
// SECTIONS
.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 80%;
	left: 50%;
	transform: translateX(-50%);
}
//////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//ABOUT
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

.about {
	display: flex;
	flex-direction: column-reverse;
	overflow: hidden;
	border-radius: 8px;
	article {
		font-size: 1rem;
		text-align: center;
		padding: 1rem;
		color: white;
		text-shadow: 2px 1px black;
	}
	&__left {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 20rem;
		overflow: hidden;
		&-img-first {
			position: absolute;
			width: 100%;
			min-height: 20rem;
			background-image: url(../Assets/almonds.png);
			background-size: cover;
			background-repeat: no-repeat;
		}

		&-img-second {
			position: absolute;
			width: 100%;
			min-height: 20rem;
			background-image: url(../Assets/cocoa.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
		&-text {
			position: absolute;
			width: 100%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			min-height: 50%;
		}
	}
	&__right {
		position: relative;
		display: flex;
		flex-direction: column;
		min-height: 20rem;
		overflow: hidden;
		&-img {
			position: absolute;
			width: 100%;
			min-height: 20rem;
			background-image: url(../Assets/chocolate.png);
			background-size: cover;
			background-repeat: no-repeat;
		}
		&-text {
			position: absolute;
			width: 100%;
			padding-top: 2rem;
			padding-bottom: 2rem;
			min-height: 50%;
		}
	}
}
.shadow-light {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

//////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
//CONTACT
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
.contact {
	position: relative;
	background-color: lightgrey;
	h1 {
		padding-top: 1.5rem;
	}

	.cards {
		display: flex;
		justify-content: center;
		gap: 0.6rem;
		padding-bottom: 5rem;

		&__card {
			position: relative;
			background-color: #fff;
			border-radius: 12px;
			box-shadow: 1px 5px 8px rgba($color: #000000, $alpha: 0.6);
			overflow: hidden;
			width: 7rem;
			height: 5rem;
			text-align: center;
			text-transform: uppercase;
			padding-top: 1rem;
			padding-bottom: 5rem;

			&-img {
				position: absolute;
				top: 0;
				width: 100%;
				height: 45%;
				background-image: url(../Assets/chocolate.png);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 0 -230px;
				visibility: hidden;
			}

			h5 {
				font-size: 1rem;
			}
			.fa-linkedin-in,
			.fa-facebook,
			.fa-instagram {
				font-size: 2rem;
				text-decoration: none;
				color: black;

				&:hover {
					color: $secondary;
				}
			}
		}
	}
}

////////////////////////////////////////////////////////////////////////////////////
////FOOTER
////////////////////////////////////////////////////////////////////////////////////
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 2rem;

	p {
		text-align: right;
		padding: 1em;
	}
}

////////////////////////////////////////////////////////////////////////////////////
////MEDIA QUERIES
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////

@media (min-width: 800px) {
	.nav {
		min-height: 4rem;
		visibility: visible;

		&__logo {
			min-height: 4rem;
		}
		&__list-element {
			visibility: visible;
		}
		.burger {
			visibility: hidden;
		}
	}
	.hero-text {
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.header {
		font-size: 3rem;
	}
	.heading-block {
		width: 65%;
		&__before {
			width: 3.5rem;
			height: 0.4rem;
		}
		&__before-black {
			width: 3.5rem;
			height: 0.3rem;
		}
		&__after {
			width: 3.5rem;
			height: 0.4rem;
		}
		&__after-black {
			width: 3.5rem;
			height: 0.3rem;
		}
	}
	.shadow-light {
		background-color: rgba(0, 0, 0, 0.2);
	}
	.about {
		border-radius: 20px;
		overflow: hidden;
		article {
			text-shadow: none;
			color: black;
		}
		&__left {
			position: relative;
			display: flex;
			flex-direction: column;
			min-height: 20rem;
			&-img-first {
				position: absolute;
				width: 50%;
				min-height: 100%;
				background-image: url(../Assets/almonds.png);
				background-size: cover;
				background-repeat: no-repeat;
			}

			&-img-second {
				position: absolute;
				width: 50%;
				min-height: 100%;
				background-image: url(../Assets/cocoa.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
			&-text {
				position: absolute;
				width: 50%;
				right: 0;
				bottom: 0;
				min-height: 100%;
				overflow: hidden;
			}
		}
		&__right {
			position: relative;
			display: flex;
			flex-direction: row-reverse;
			min-height: 20rem;
			&-img {
				position: absolute;
				width: 50%;
				min-height: 20rem;
				background-image: url(../Assets/vanilla.png);
				background-size: cover;
				background-repeat: no-repeat;
			}
			&-text {
				position: absolute;
				width: 50%;
				left: 0;
				bottom: 0;
				min-height: 100%;
			}
		}
	}
	.products {
		width: 50%;
		transform: translateX(50%);
	}

	.contact {
		.cards {
			gap: 2rem;

			&__card {
				width: 15rem;
				height: 20rem;
				padding-top: 2rem;
				padding-bottom: 5rem;

				&-img {
					visibility: visible;
					transition: 0.3s;
					&:hover {
						transform: scale(1.1);
					}
				}

				h5 {
					position: absolute;
					font-size: 3em;
					left: 50%;
					transform: translatex(-50%);
					bottom: 30%;
				}
				.fa-linkedin-in,
				.fa-facebook,
				.fa-instagram {
					font-size: 3rem;
					position: absolute;
					left: 50%;
					transform: translatex(-50%);
					bottom: 15%;
				}
			}
		}
	}
}
@media (min-width: 1400px) {
	.heading-block {
		width: 35%;
	}
}
